# Unity 生成的文件夹
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# 资源包缓存
/Assets/AssetStoreTools*

# Visual Studio 生成文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS 生成文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE 文件
.vs/
.idea/
*.swp
*.swo

# 其他
sysinfo.txt
*.apk
*.aab
*.unitypackage

/_Build
# /Assets/Plugins

/Assets/SDK

# 抖音
/Assets/Editor/StarkBuilderSetting.asset
tt-minigame